
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>校园信息</title>
    <link href="{$Think.HOSTPATH}/css/shop/app.min.css?v=20170418" rel="stylesheet" type="text/css" />
 	    <link href="{$Think.HOSTPATH}/css/shop/shop.css" rel="stylesheet" type="text/css" />
    <script src="{$Think.HOSTPATH}/js/shop/app.min.js?v=20170418"></script>
	 <script src="{$Think.HOSTPATH}/js/shop/fsrPMD.js?v=20170418"></script>
	<script type="text/javascript">var ROOT_URL = '/'; </script>
	<script src="{$Think.HOSTPATH}/js/shop/fastclick.js"></script>
	<link href="{$Think.HOSTPATH}/css/Admin/font-awesome.css" rel="stylesheet"><!-- FONT AWESOME ICON CSS -->
	 <link href="{$Think.HOSTPATH}/css/shop/student.css" rel="stylesheet" type="text/css" />


    </head>

<body>
<p style="text-align:right; display:none;"></p>
<div style=" display:none;" id="loading"><img src="{$Think.HOSTPATH}/img/loading.gif" /></div>
<body>
		<div class="con" id="checkPage">
			<div class="category">
					<section class=" goods-shop b-color-f no-shopping-title">
                                                <a href="javascript:0;" onclick="history.back(-1);"><div class="goods-shop-pic of-hidden" > 
                    <h4  class="title-hrbg m-top06"><label class="t-remark g-t-temark">
					<i  class="fanhuii fa fa-angle-left"></i>
						<span class="fanhuispan" style="">校园信息</span>
					</label></h4>

                </div></a>
              
            </section>
			
<section class="m-top08  goods-shop b-color-f no-shopping-title">
                                                <div class="goods-shop-pic of-hidden">
                    <h4 class="title-hrbg m-top06"><label class="t-remark g-t-temark">校园介绍</label><hr> </h4>
                    <div class="g-s-p-con product-one-list of-hidden scrollbar-none j-g-s-p-con padding-all swiper-container-horizontal" style="cursor: -webkit-grab;">
                     
							{$schoolinfo['Content']}
              


                                                  
                    </div>
                </div>
              
            </section>
			<section class="m-top08  goods-shop b-color-f no-shopping-title">
                                                <div class="goods-shop-pic of-hidden">
                    <h4 class="title-hrbg m-top06"><label class="t-remark g-t-temark">校园相册</label><hr> </h4>

                </div>
              
            </section>
		
                                           
             {volist name="imglist" id="il"}
				<img onclick="return showimage('{$Think.HOSTPATH}/uploads/{$il}');" class="imglist" src="{$Think.HOSTPATH}/uploads/{$il}" />
				{/volist}
             
              
           

								
					
			</div>
            </div>

			</div>
            </div>


        <!--地区选择 e-->
        <!--快捷导航-->
{include file="../application/index/view/index/nav.html" /}
	        <!--快捷导航-->


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="top:13rem;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          
            </div>
            <div class="modal-body"><img style="width:100%" class="imgmodal" src="" /></div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
			<script>
  function showimage(source)
     {
	 $('.imgmodal').attr('src',source);
$('#myModal').modal('show')
     }
	 </script>
	</body>

</html>